"""
2025, Dresden Alexey Obukhov, alexey.obukhov@hotmail.com
#todo tidy up requirements
"""

accelerate==1.0.1
bitsandbytes==0.42.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.1.31
charset-normalizer==3.4.1
click==7.1.2
cymem==2.0.11
en-core-web-sm==3.0.0
exceptiongroup==1.2.2
filelock==3.16.1
fsspec==2025.2.0
huggingface-hub==0.28.1
idna==3.10
iniconfig==2.0.0
jinja2==3.1.5
joblib==1.4.2
MarkupSafe==2.1.5
mpmath==1.3.0
murmurhash==1.0.12
networkx==3.1
nltk==3.9.1
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.1.105
packaging==24.2
pandas==2.0.3
pathlib-abc==0.1.1
pathy==0.11.0
pillow==10.4.0
pluggy==1.5.0
preshed==3.0.9
protobuf==5.29.3
psutil==6.1.1
pydantic==1.7.4
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
sacremoses==0.1.1
safetensors==0.5.2
scikit-learn==1.3.2
scipy==1.10.1
sentencepiece==0.2.0
six==1.17.0
smart-open==6.4.0
spacy==3.0.0
spacy-legacy==3.0.12
srsly==2.4.8
sympy==1.13.3
thinc==8.0.17
threadpoolctl==3.5.0
tokenizers==0.20.3
tomli==2.2.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.67.1
transformers==4.46.3
triton==3.0.0
typer==0.3.2
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
wasabi==0.10.1

# Include the own colorfull school-logging module from Git
git+https://github.com/vertok/school_logging.git@main#egg=school-logging
